<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page principale</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="game.css" media="screen" />

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
    <!-- Javascript files -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="fireBase.js"></script>
    <script src="init.js"></script>
    <script src="map.js"></script>
    <script src="draw.js"></script>

    <script>
      /** allow us to check if a user is still connected */
      var firebase = app_fireBase;

      var user = firebase.auth().currentUser;
      var socket = io();
      var typing = false;

      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          socket.name = user.displayName;
        } else {
          socket.name = "Guest_" + Math.floor(Math.random() * Date.now());
        }
      });
    </script>
    <div class="lobbies" style="display: none;">
      <table id="table-container">
        <thead>
          <tr>
            <th colspan="7">Rooms</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <button type="button" onclick="goToMenu()" name="backLobby">Back</button>
    </div>
    <div class="menu">
      <button type="button" onclick="goToLobby()">Join a Lobby</button>
      <button type="button" onclick="goToCreation()">Create a Lobby</button>
    </div>
    <div class="option" style="display: none;">
      <section class="map_selection">
        <p>
          Choose a map:
        </p>

        <input
          type="radio"
          id="map1"
          name="map"
          value="forest"
          autocomplete="off"
        />
        <label for="map1">Forest</label>
        <span class="infotext">
          Description de la map et particularité ici.
        </span>

        <input
          type="radio"
          id="map2"
          name="map"
          value="cavern"
          autocomplete="off"
          required
        />
        <label for="map2">Cavern</label>
        <span class="infotext">
          Description de la map et particularité ici.
        </span>

        <input
          type="radio"
          id="map3"
          name="map"
          value="city"
          autocomplete="off"
          required
        />
        <label for="map3">City</label>
        <span class="infotext">
          Description de la map et particularité ici.
        </span>
        <input type="radio" id="map4" name="map" value="swamp" autocomplete="off" />
        <label for="map4">Swamp</label>
        <span class="infotext">
          Description de la map et particularité ici.
        </span>
        <input type="radio" id="map5" name="map" value="desert" autocomplete="off" />
        <label for="map5">Desert</label>
        <span class="infotext">
          Description de la map et particularité ici.
        </span>
      </section>
      <section class="class_selection" name = "class_selection">
        <p>
          Choose a class:
        </p>
        <input
          type="radio"
          id="class1"
          name="class"
          value="warrior"
          autocomplete="off"
          required
        />
        <label for="class1">Warrior</label>
        <span class="infotext">
          Le guerier est équilibré.Combattant au corps à corps. <br />
          ATK : 8 <br />
          VITESSE : 10 <br />
          VIE : 135
        </span>

        <input
          type="radio"
          id="class2"
          name="class"
          value="sorcerer"
          autocomplete="off"
        />
        <label for="class2">Sorcerer</label>
        <span class="infotext">
          Le sorcier possède une grande force de frappe mais est lent et
          fragile. <br />
          ATK : 10<br />
          VITESSE : 6<br />
          VIE : 100
        </span>

        <input
          type="radio"
          id="class3"
          name="class"
          value="tank"
          autocomplete="off"
        />
        <label for="class3">Tank</label>
        <span class="infotext">
          Le tank tire sa force de son endurance.En contrepartie ses dégâts sont
          amoindris <br />
          ATK : 5 <br />
          VITESSE : 10 <br />
          VIE : 175
        </span>

        <input
          type="radio"
          id="class4"
          name="class"
          value="archer"
          autocomplete="off"
        />
        <label for="class4">Archer</label>
        <span class="infotext">
          L'archer est rapide. Toutes ses autres caractéristiques sont
          légérement inférieure <br />
          ATK : 5 <br />
          VITESSE : 12 <br />
          VIE : 115
        </span>
      </section>

      <section class="mode_selection">
        <p>
          Choose a mode:
        </p>
        <input
          type="radio"
          id="mode1"
          name="mode"
          value="ffa"
          autocomplete="off"
          required
        />
        <label for="mode1">Free for all</label>
        <span class="infotext">
          Chacun pour soi, le premier à atteindre le maximum de frag gagne.
        </span>

        <input
          type="radio"
          id="mode2"
          name="mode"
          value="survival"
          autocomplete="off"
        />
        <label for="mode2">Survival</label>
        <span class="infotext">
          Survivez à de multiples ennemies. Lorsque vous arrivez à bout de la
          vague. Un ennemi puissant vous attend...
        </span>
      </section>
      <br />
      <section class="validation">
        <button type="button" onclick="newGame()">
          Validate
        </button>
        <button type="button" onclick="goToMenu()">Back</button>
      </section>
    </div>

    <!-- game part -->

    <div class="main" style="display: none;">
      <div class="canvas-container">
        <div class="timer-container">
          <div class="time">
            <div id="timer"></div>
            <div id="hourglass"></div>
          </div>
        </div>

        <div class="info-container">
          <div id="announcement"></div>
          <div id="scoreboard"></div>
        </div>
        <div class="general-container">
          <canvas id="game_zone-ui-left"></canvas>
        </div>

        <div class="game-container">
          <canvas id="game_zone"></canvas>
        </div>

        <div class="info-player-container">
          <div class="info-bars">
            <canvas id="game_zone-ui-right"></canvas>
          </div>
        </div>

        <!-- skills part -->
        <div class="skill-container">
          <div class="skill-bar">
            <div class="skill1"></div>
            <div class="skill2"></div>
            <div class="skill3"></div>
          </div>
        </div>

        <!-- buttons part -->
        <div class="button-container">
          <div class="buttons">
            <button onclick="getReady()" id="ready">Ready</button>
            <button onclick="surrender()" id="surrender">
              Surrender
            </button>
            <button onclick="playAgain()" id="new">
              Play again
            </button>
            <button onclick="Quit()" id="quit">
              Quit
            </button>
          </div>
        </div>

        <!-- chat part-->
        <div class="chat-container">
          <div class="box">
            <div class="chatBox" id="chat-text"></div>
            <form id="chat-form">
              <input
                id="chat-input"
                type="text"
                style="width:40%;height:20px;"
                autocomplete="off"
              />
              <input class="btn" type="submit" value="Send" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      //////////////////////////////////////////////////////////////
      var WIDTH = 1920;
      var HEIGHT = 1080;
      var CANVAS_WIDTH = 500;
      var CANVAS_HEIGHT = 500;
      /** game */
      var canvas = document.getElementById("game_zone");
      var left_canvas = document.getElementById("game_zone-ui-left");
      var right_canvas = document.getElementById("game_zone-ui-right");
      var game = canvas.getContext("2d");
      var left_game =left_canvas.getContext("2d");
      var right_game = right_canvas.getContext("2d");

      /**
       * Responsive canvas
       */
      var resize = function() {
        var ratio = 16/9;
        if (CANVAS_HEIGHT < CANVAS_WIDTH / ratio) CANVAS_WIDTH = CANVAS_HEIGHT * ratio;
        else CANVAS_HEIGHT = CANVAS_WIDTH / ratio;
        CANVAS_WIDTH = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth ;
        CANVAS_HEIGHT =window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight ;
        canvas.width = WIDTH;
        canvas.height = HEIGHT;
        canvas.style.width = '' + CANVAS_WIDTH + 'px';
        canvas.style.height = '' + CANVAS_HEIGHT + 'px';
        game.font = "30px Arial";
        left_canvas.style.width = '' + CANVAS_WIDTH / 10+ 'px';
        left_canvas.style.height = '' + CANVAS_HEIGHT / 10+ 'px';
        left_game.font = "" + 2 +"vw Arial";
        right_canvas.style.width = '' + CANVAS_WIDTH / 10+ 'px';
        right_canvas.style.height = '' + CANVAS_HEIGHT / 10+ 'px';
        right_game.font = "" + 1 +"vw Arial";
      };
      window.addEventListener("resize", function() {
      resize();
      });

      resize();
      /**
       * Update the display
       */
      mainGame();
    </script>

    <script src="communication.js"></script>
    <script src="event.js"></script>
    <script src="timer.js"></script>

    <script>
      var pregame = null;
      if (!pregame) pregame = setInterval(function() {
        startGame();
      }, 1000);
    </script>
    <script src="chat.js"></script>
    <script src="menu.js"></script>
  </body>
</html>
