<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Formulaire d'inscription</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
  </head>
  <body>
    <!--#include virtual="views/header.html" -->
    <script type="text/javascript" src="header.js"></script>
    <div class="row">
      <div class="side">
        <h2>Résumé</h2>
        <h5>Photo de profil:</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Votre derniere performance: 12d/23k/5800p</p>
        <h3>Top Player</h3>
        <p>Ces joueurs ont tout donné:</p>
        <div class="fakeimg" style="height:60px;">Image</div>
        <br />
        <div class="fakeimg" style="height:60px;">Image</div>
        <br />
        <div class="fakeimg" style="height:60px;">Image</div>
      </div>
      <div class="main">
        <form method="post" action="/update">
          <p>
            <label
              >Nom
              <input type="text" name="user_surname" required />
            </label>
          </p>

          <p>
            <label
              >Prenom
              <input type="text" name="user_name" required />
            </label>
          </p>

          <p>
            <label
              >Numéro de Téléphone
              <input type="tel" name="phone_number" />
            </label>
          </p>

          <p>
            <label
              >Email
              <input type="email" name="email_address" required />
            </label>
          </p>

          <p>
            <label
              >Pseudo
              <input type="text" name="id_user" />
            </label>
          </p>

          <fieldset>
            <legend>Sexe</legend>
            <p>
              <label>
                <input type="radio" name="gender" value="man" /> Homme
              </label>
            </p>
            <p>
              <label>
                <input type="radio" name="gender" value="woman" /> Femme
              </label>
            </p>
          </fieldset>

          <p>
            <label
              >Date de naissance
              <input type="date" name="birthday" />
            </label>
          </p>

          <p><button type="submit" value="submit">Valider</button></p>
          <p><button type="reset" value="reset">Réinitialiser</button></p>
        </form>
        
        <div id = "connection_redirection">
          <p>
            Déjà inscrit ?
            <a href="connection.html">
              <input type="submit" value="Connecte toi">
            </a>
      
          </p>
        </div>
      </div>
    </div>
    <!--#include virtual="views/footer.html" -->
    <script type="text/javascript" src="footer.js"></script>
  </body>
</html>
